* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(249, 251, 253);
    z-index: -99;
}

.custom-display {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
}


.navbar {
    background-color: rgb(70, 70, 190);
    color: white;
    height: 6rem;
    padding: 20px;
    margin-bottom: 0;
}

#logo-img {
    height: 70px;
}

thead {
    background-color: gold;
}

tbody {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #ededed;
  }

/* styles for footer of each page */

footer {
    width: 100%;
    background-color: rgb(70, 70, 190);
    color: white;
    align-items: center;
    padding: 10px;  
    height: 4rem; 
}
 
footer li {
    display:inline-block;
    padding-right: 80px;    
}

footer i {
    color: white;
    font-size: 200%;  
}

.social i:hover {
    color: gold;
}

#small-logo i:hover {
    color:white;
}

/* styles for allauth forms */

.allauth-container {
    margin: 0 auto;
    height: calc(100vh - 11.5rem);
    width: 60%;
}

.signup-container {
    margin: 0 auto;    
    width: 70%;
    min-height: calc(100vh - 11.5rem);
}

.no-page-container {
    margin: 0 auto;
    height: calc(100vh - 11.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color: gold;
}

.submit-button:active,
.submit-button:hover {
    background-color: rgb(216, 188, 29);
}

/* media queries */

@media screen and (max-width: 768px) {
    .navbar {
        height: auto;
    }

    footer li {
        padding: 10px;
    }

    footer i {
        font-size: 150%;
    }

    .custom-display{
        font-size: 2.5rem;
    }

    .mobile-hide {
        display: none;
    }

    .signup-container {
        margin: 0 auto;    
        width: 90%;
    }

}
