/* general site settings */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* display font used for main headings accross site */

.custom-display {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
}

/* styles for the navbar */

.navbar {
    background-color: rgb(70, 70, 190);
    color: white;
    height: 6rem;
    padding: 20px;
}

#logo-img {
    height: 70px;
}

/* styles for footer of each page */

footer {
    width: 100%;
    background-color: rgb(70, 70, 190);
    color: white;
    align-items: center;
    padding: 10px;  
    height: 4rem; 
}
 
footer li {
    display:inline-block;
    padding-right: 80px;    
}

footer i {
    color: white;
    font-size: 200%;  
}

.social i:hover {
    color: gold;
}

#small-logo i:hover {
    color:white;
}


/* styles to size container elements for allauth templates and the custom 404 page */
.allauth-container {
    margin: 0 auto;
    height: calc(100vh - 11.5rem);
    width: 60%;
}

.no-page-container {
    margin: 0 auto;
    height: calc(100vh - 11.5rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* styles for the button for user interactions */

.submit-button {
    background-color: gold;
}

.submit-button:active,
.submit-button:hover {
    background-color: rgb(216, 188, 29);
}

/* media queries to customize the layout of the footer, font size of the headings and to hide and display elements on mobile devices */

@media screen and (max-width: 760px) {
    footer li {
        padding: 10px;
    }

    footer i {
        font-size: 150%;
    }

    .custom-display{
        font-size: 2.5rem;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .mobile-nav li {
        background: rgb(70, 70, 190) !important;

    }
}
