/* styles for club introduction and social information on home page */
#main-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img-container {
    width: 95%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;  
}

.main-header-container {
    padding: 0.5rem;;
}

#main-heading {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    position: relative;
    top: -33rem;
    z-index: 3;
}

.hero-img-text {
    font-size: 7rem;
    z-index: 7;
}

#main-img {
    width: 75vw;
}

#main-cropped{
    display: none;
}

#main-heading {
    font-family: 'Raleway', sans-serif;
    color: navy;
}

.homepage-text {
    font-size: 17px;
}

#social-pic {
    width: 45vw;
}

/* styles for contact section */
div #map {
    min-height: 360px;
}

#phone {
    letter-spacing: 0.05rem;
}

#email a{
    text-decoration: none;
}


/* media queries to change heading font size, main image displayed and the size of the social image on mobiles */
@media screen and (max-width: 800px) {
    social-pic {
        width: 40vw;
    }

    .hero-img-text {
        font-size: 4.5rem;
    }
}


@media screen and (max-width: 600px) {
    
    .hero-img-text {
        font-size: 4rem;
    }

    #main-cropped {
        display: block;
        width: 90vw;
        height: auto;
        margin: 0 auto;
    }

    #social-pic {
        width: 90vw;
        height: auto;
    }
}

@media screen and (max-width: 360px) {
    
    .hero-img-text {
        font-size: 3.4rem;
    }
}
