#main-img-container {
    background: url(../images/football.jpg) center no-repeat;
    background-size: cover;
    height: 75vh;
}

#main-heading {
    font-family: 'Raleway', sans-serif;
}

.homepage-text {
    font-size: 17px;
}

#social-pic {
    height: 50vh;

}

div #map {
    min-height: 360px;
}

#phone {
    letter-spacing: 0.05rem;
}

#email a{
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    #main-img-container {
        background: url(../images/football-cropped.jpg) center no-repeat;
        background-size: cover;
        height: 75vh;
    }

    #main-heading{
        font-size: 80px;
    }
}
