/* styles for club introduction and social information on home page */
#main-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-img {
    width: 80vw;
    position: relative;
    z-index: -1;
}

#main-cropped{
    display: none;
}

#main-heading {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 10rem;
    z-index: 1;
}

.homepage-text {
    font-size: 17px;
}

#social-pic {
    height: 50vh;
}

/* styles for contact section */
div #map {
    min-height: 360px;
}

#phone {
    letter-spacing: 0.05rem;
}

#email a{
    text-decoration: none;
}


/* media queries to change heading font size, main image displayed and the size of the social image on mobiles */
@media screen and (max-width: 600px) {
    
    #main-heading {
        font-size: 70px;
        top: 7rem;
    }

    #main-cropped {
        display: block;
        width: 80vw;
        height: auto;
        margin: 0 auto;
        position: relative;
        z-index: -1;
    }

    #social-pic {
        width: 90vw;
        height: auto;
    }
}
