.custom-form-container {
    margin: 0 auto;
    height: calc(100vh - 10rem);
    padding: 1rem;
    width: 60%;
}

.member-form-container {
    margin: 0 auto;
    height: 100%;
    padding: 2rem;
    width: 60%;
}

.edit-match-container {
    margin: 0 auto;
    height: calc(100vh - 10rem);
    line-height: 1rem;
    padding: 0rem;
    width: 60%;
}

.submit-button {
    background-color: gold;
}

.submit-button:active,
.submit-button:hover {
    background-color: rgb(216, 188, 29);
}

.asteriskField {
    display: none;
}

.player-table {
    width: 50%;
    line-height: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

#player-table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: calc(100vh - 10rem);
    padding: 1rem;
    width: 80%;    
}

@media screen and (max-width: 760px) {
    .custom-form-container {
        width: 90%;
        padding-top: 1rem;
        height: calc(100vh - 4rem)
    }

    .member-form-container {
        width: 90%;
    }

    .edit-match-container {
        width: 90%;
        height: auto;
        padding-bottom: 1rem;
    }

    #player-table-container {
        height: calc(100vh - 4rem)
    }


}