#pitch-img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;  
    margin-top: 2rem;  
}


.highlight {
    background-color: rgb(252, 235, 142);
}

#booking-container {
    height: calc(100vh - 11.5rem);
}

.custom-height {
    min-height: calc(100vh - 11.5rem);
}

