
#pitch-img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;  
    margin-top: 2rem;  
}

.submit-button {
    background-color: gold;
}

.submit-button:active,
.submit-button:hover {
    background-color: rgb(216, 188, 29);
}
