{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="signup-container container">
  <div class="row">
    <div class="col-12 mb-2">
      <h1 class="mb-2">{% trans "Sign Up" %}</h1>
      <p><strong>To submit an application please complete the form below and then verify your email address. You will be notified once your application has been approved.</strong></p>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
      <div class="row">
        <div class="col-md-6">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn submit-button">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
      </div>      
    </div>
  </div>
</div>
{% endblock %}

