{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}


{% block title %}
Page Not Found
{% endblock %}

{% block content %}
<div class="no-page-container">
    <img src="{% static 'images/referee.jpg' %}"  alt="cartoon image of a referee blowing a whistle" height="250px">
    <h2 id="404-title" class="display-4 text-center my-4 d-block">Oops we couldn't find that page!</h2>
    <button class="btn-lg btn submit-button d-block"><a href="{% url 'index' %}">Back to Home</a></button>
</div>
{% endblock %}