{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block css %}
<!-- link to custom css -->
<link rel="stylesheet" href="{% static 'club/css/management.css' %}">
{% endblock %}

{% block title %}
Manager Zone
{% endblock %}

{% block content %}
<!-- form used to add the results of a game -->
<div class="edit-match-container">
    <h1 class="text-center display-4 mb-2">Add Match Results</h1>
    <h4 class="mb-3 text-center">Please enter the results for the match on {{match.match_date|date:"j F y"}}</h4>
    <div class="row">
        <div class="col-10 col-sm-6 col-md-4 ml-md-5">            
            <form method="POST" action="{% url 'add_score' match.id %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form | crispy }}
                </div>              
                <button class="btn submit-button">Submit</button>
            </form>
        </div>    
    </div>  
</div>
{% endblock %}