{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'club/css/management.css' %}">
{% endblock %}

{% block title %}
Manager Zone
{% endblock %}

{% block content %}
<div class="custom-form-container">
    <h1 class="text-center display-4">Pending Membership Applications</h1>
    
    <div class="row">
        <div class="col-12 my-auto">
            <form method="POST" action="#">
                {% csrf_token %}
                <br>
                <table class="table table-bordered my-4">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    {% for member in pending_applications %}
                    <tr>
                        <td>{{member.first_name}} {{member.last_name}}</td>
                        <td>{{member.email}}</td>
                        <td><a href="#">Approve</a></td>
                        <td><a href="#">Reject</a></td>
                    </tr>
                    {% endfor %}
                </table>   
            </form>
        </div>    
    </div>  
</div>
{% endblock %}
