{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'club/css/management.css' %}">
{% endblock %}

{% block title %}
Manager Zone
{% endblock %}

{% block content %}
<div class="custom-form-container">
    <div class="row">
        <div class="col">
            <h1 class="text-center font-weight-light mt-5">Please confirm that you wish to delete the below result</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class = "text-center mt-4">Match Date {{match.match_date}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class = "text-center mt-4">Blues: {{match.blue_goals}} - Whites: {{match.white_goals}}</h3>

        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form method="POST" action="#">
                {% csrf_token %}
                <button class="btn submit-button btn-lg mt-5 mb-5 "><a href="{% url 'delete_score' match.id %}">Delete Result</a></button>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}