{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'club/css/index.css' %}">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container-fluid mb-md-3 mt-md-2">
    <div id="main-img-container" class="container mt-md-4 mx-auto">
        <img src="{% static 'club/images/football.jpg' %}" class="mobile-hide mx-auto" alt="football on a playing field" id="main-img">
        <img src="{% static 'club/images/football-cropped.jpg' %}" class="mobile-only" alt="football on a playing field" id="main-cropped">        
        <h1 class="display-1 text-center font-weight-normal text-white pt-3" id="main-heading">Reigate Dads FC</h1>
    </div>
    <div class="container mt-md-3 p-3" id="club-intro-text">
        <p class="lead">Reigate Dads is an ecletic mix of wanna-be and has-been footballing fathers (mostly), from in and around the town of Reigate. Camaraderie and sportsmanship are second only to technical football excellence in Reigate Dads' philosophy. </p>
        <p class="homepage-text">Inaugurated in September 2016, Reigate Dads play on Thursday evenings at the five-a-side astro-turf stadium at South Park Football Club, Whitehall Lane, RH2 8LG. Reigate Dads play against each other within a league, whose triannual season culminates in the award of a highly prized crystal trophy, often referred to as 'The Perspex Block'. The cornerstone of the competition is 'The Algorithm', a sophisticated function that optimises weekly team selection balance, based on a swathe of player statistics.</p>
    </div>   
</div>
<hr>
<div class="container mt-md-4 mb-md-5" id="social">
    <h2 class="custom-display text-center pb-md-4">Social</h2>
    <div class="row">
        <div class="col-lg-4 col-md-6" id="social-text">
            <p class="lead pr-md-5">Post match interviews, press conferences and awards ceremonies usually occur at the South Park FC Clubhouse, however social missions into Reigate's pubs and restaurants are occasionally undertaken.</p>
            <p class="pr-md-5 homepage-text">Reigate Dads recognise the importance of post match rehydration and members are actively discouraged from leaving after a game until their fluid levels have been sufficiently replenished.</p>
        </div>
        <div class="col-lg-8 col-md-6 pl-lg-5">  
            <img  id="social-pic" alt="image of people's hands raising glasses of beer"  src="{% static 'club/images/beer.jpg' %}">         
        </div>
    </div>
</div>
<hr>
<div class="container mt-4 mb-5" id="contact">
    <div class="row">
        <div class="col">
            <h2 class="custom-display text-center mb-md-5">Where to find us</h2>
        </div>
    </div>
    <div class="row">
        <div id="map-container" class="col-md-8 mb-3">
            <div id="map">
                <span class="image" role="img" aria-label="google map showing location of grounds"></span> 
            </div>
        </div>
        <div id="map-text" class="col-md-4 mb-md-4 mt-2">
            <div class="row mb-md-3" id="grounds-address">
                <div class="col">
                    <h5 class="text-center text-md-right">King Georges Field</h5>
                    <p class="text-center text-md-right">Whitehall Lane</p>
                    <p class="text-center text-md-right">South Park</p>
                    <p class="text-center text-md-right">Reigate</p>
                    <p class="text-center text-md-right">Surrey</p>
                    <p class="text-center text-md-right">RH2 8LG</p>
                </div>                
            </div>
            <div class="row mb-md-3" id="contacts">
                <div class="col">
                    <h5 class="text-center text-md-right contact mt-3 font-weight-light" id="phone"><i class="fas fa-phone"></i> 07770 123456</h4>
                    <h5 class="text-center text-md-right contact mt-3 font-weight-light text-dark" id="email"><i class="fas fa-envelope"></i><a href="mailto:info@rdfc.co.uk"> info@rdfc.co.uk</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkzXIMO43ubGJL50SBLPxqdfLhDlsgGFA&callback=initMap"></script>
<script src="{% static 'club/js/map.js' %}"></script>
{% endblock %}