{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block css %}
<!-- link to custom css -->
<link rel="stylesheet" href="{% static 'club/css/management.css' %}">
{% endblock %}

{% block title %}
Manager Zone
{% endblock %}

{% block content %}
<!-- table with links for the manager to edit and delete matches, add results, open registrations, allocate 
    teams and determine the next fixture. Options shown vary according the status of the various properties. -->
<div class="matches-form-container">
    <h1 class="text-center custom-display">All Matches</h1>
    <br>
    <table class="table table-bordered my-md-4">
        <thead>
            <tr>
                <th>Date</th>
                <th colspan="7" class="text-center">Match Management</th>
            </tr>
        </thead>       
        <tbody>
            {% for match in matches %}
            <tr>
                <td>{{match.match_date|date:"j M y"}}</td>
                <td class="mobile-hide"><a href="{% url 'edit_match' match.id %}">Edit</a></td>
                <td class="mobile-hide"><a href="{% url 'delete_match' match.id %}">Delete</a></td>
                {% if match.registrations_open %}
                <td><a href="{% url 'close_reg' match.id %}">Close Registrations</a></td>
                {% else %}
                <td><a href="{% url 'open_reg' match.id %}">Open Registrations</a></td>
                {% endif %}
                {% if match.next_fixture %}
                <td class="mobile-hide"><a href="{% url 'remove_next' match.id %}">Remove Next Fixture Flag</a></td>
                {% else %}
                <td class="mobile-hide"><a href="{% url 'add_next' match.id %}">Flag as Next Fixture</a></td>
                {% endif %}
                {% if match.teams_allocated %}
                <td><a href="{% url 'reset_teams' match.id %}">Clear Teams</a></td>
                {% else %}
                    {% if match.next_fixture %}
                    <td><a href="{% url 'allocate_teams' match.id %}">Allocate Teams</a></td>
                    {% else %}
                    <td>Function disabled
                    {% endif %}
                {% endif %}
                {% if match.results_added %}
                <td><a href="{% url 'delete_score' match.id %}">Delete Result</a></td>
                {% else %}
                <td><a href="{% url 'add_score' match.id %}">Add Result</a></td>
                {% endif %}
                <td class="mobile-hide"><a href="{% url 'see_players' match.id %}">See Members</a></td>
            </tr>
            {% endfor %}
        </tbody>        
    </table>   
</div>
{% endblock %}