{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'club/css/management.css' %}">
{% endblock %}

{% block title %}
Manager Zone
{% endblock %}

{% block content %}
<div class="custom-form-container">
    <h1 class="text-center display-4">All Matches</h1>
    <br>
    <table class="table table-bordered my-4">
        <tr>
            <th>Date</th>
            <th>Blues</th>
            <th>Whites</th>
            <th>Results Added</th>
        </tr>
        {% for match in matches %}
        <tr>
            <td>{{match.match_date}}</td>
            <td>{{match.blue_goals}}</td>
            <td>{{match.white_goals}}</td>
            <td>{{match.results_added}}</td>
            <td><a href="{% url 'edit_match' match.id %}">Edit</a></td>
            <td><a href="{% url 'delete_match' match.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>   
</div>

{% endblock %}