{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'club/css/members.css' %}">
{% endblock %}

{% block title %}
Member Zone
{% endblock %}

{% block content %}
<div id="booking-container" class="container-fluid m-0 p-0">
        <h2 class="text-center custom-display pt-5">Book your place in the next match</h2>
        <div class="text-center mb-3">
            {% if registrations_open %}
            <h5 class="text-center mt-5">Registrations are open for {{match.match_date}}</h5>
                {% if player_registered %}
                <form method="POST" action="#">
                    {% csrf_token %}
                    <h5 class="mt-4">You have already booked your place in the match</h5>
                    <button class="btn submit-button btn-lg mt-3 mb-5"><a href="{% url 'cancel_match_place' %}">Cancel Place</a></button>
                </form>
                {% else %}
                <form method="POST" action="/">
                    {% csrf_token %}
                    {% if match_full %}
                    <h5 class="mt-4">The match is currently full. Click below to be placed on the reserves list.</h5>
                    {% endif %}
                    <button class="btn submit-button btn-lg mt-5 mb-5"><a href="{% url 'confirm_availability' %}">Book Now</a></button>
                </form>
                {% endif %}
            {% else %} 
            <h3 class="text-center">Registrations are currently closed.</h3>
            {% endif %}
        </div>
</div>

{% endblock %}