{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'club/css/members.css' %}">
{% endblock %}

{% block title %}
Member Zone
{% endblock %}

{% block content %}
<div id="member-zone" class= "container-fluid">
    <div id="past-results-container" class="container">
        <h2 class="custom-display text-center">Match Players</h2>
        <table class="table table-bordered my-4">
            {% for player in players %}
            <tr>
                <td>{{player.player_id}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}