{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'club/css/social.css' %}">
{% endblock %}

{% block title %}
Social
{% endblock %}

{% block content %}
<h2 id="social" class="display-4 text-center">Social</h2>
<div class=container mb-4>
    <div class="jumbotron">
        
    </div>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero tempore voluptatum blanditiis ab excepturi numquam modi eveniet ad reiciendis soluta! Officiis quod accusamus assumenda nesciunt! Reprehenderit obcaecati officiis iusto eaque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur repudiandae, magni corporis dicta voluptate eligendi nesciunt quisquam omnis tempora obcaecati? Expedita iusto dolorem temporibus? Fugiat sapiente quisquam labore minima deserunt.</p>
</div>
{% endblock %}